body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
background-color: #f9f9f9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.text-section {
    flex: 1;
    text-align: left;
}
.text-section h1 {
    font-size: 2.0rem;
    color: #704a2d;
    margin-bottom: 20px;
}

.text-section button {
    padding: 10px 25px;
    font-size: 1rem;
    color: #704a2d;
    border: 1px solid #704a2d;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.text-section button:hover {
    background-color: #704a2d;
    color: #fff;

}

.image-section img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

